# Jupyter
jupyter

# Data preparation
pandas

# Plot results
matplotlib

## Time series imaging (get ts in Gram domain)
pyts

## Image processing (Gram to RGB, ...)
PIL

## Deep learning
keras
numpy
sklearn

## Generate random numbers
random

## Folder access
pathlib

