# Jupyter
jupyter

# Data preparation
pandas

# Plot results
matplotlib

## Time series imaging (get ts in Gram domain)
pyts

## Image processing (Gram to RGB, ...)
PIL

## Deep learning
keras
tensorflow
numpy
sklearn
kerastuner

## Generate random numbers
random

## Folder access
pathlib

## Order file system arrays for model training
natsort


